.nav{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.banderas{
    display: flex;
    flex-direction: row;
}

.logo1{
    width: 70px;
    height: 70px;
    margin-right: 40px;
    margin-top: 30px;
}

button{
    background: transparent;
    outline: none;
    border: none;
}

.logo2{
    width: 70px;
    height: 70px;
    margin-right: 40px;
    margin-top: 30px;
}


.recuadro-blanco{
    background: transparent;
    outline: none;
    border: none;
    opacity: 1;
    box-shadow: none;
}

.icono-home2{
    margin-top: 35px;
    margin-left: -25px;
    margin-right: 40px;
    width: 60px;
    height: 60px;
    opacity: 1;
}