.icono-volver{
    width: 70px;
    height: 70px;
    background-color: white;
}

.icono-home{
    width: 70px;
    height: 70px;
    background-color: white;
}

.flecha{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
}